@media screen and (max-width:767px) {
    .pages-header__menu{
        display: none;
    }
    .pages-header__contact-menu{
        display: none;
    }
}
.page-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.mobile-menu-open{
   background-color: transparent;
   border: none;
    padding: 0;

    height: 40px;
    // или
    // line-height: 0;
}


// .pages-header {
//   position: fixed;
//   width: 100%;
//   top: 0;
//   z-index: 1;
//   padding-top: 24px;
//   padding-bottom: 24px;
//   border-bottom: 1px solid #ececec;
//   max-height: 80px;
//   background: $background-color;
// }
// .page-header-container {
//   display: flex;
//   align-items: center;
// }
// .pages-header__menu {
//   align-items: center;
//   display: flex;
// }

// .pages-header__item {
//   position: relative;
//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   color: $title-text-color;
// }
// .pages-header__item:hover,
// .pages-header__item:focus {
//   color: $accent-color;
// }
// .pages-header__item:not(:last-child) {
//   margin-right: 50px;
// }
// .pages-header__logo {
//   font-family: 'Raleway', sans-serif;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.38;
//   margin-right: 93px;

//   color: $head-logo;
// }
// .pages-header__logo-acsent {
//   font-family: 'Raleway', sans-serif;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.38;
//   color: $accent-color;
// }


// .pages-header__link {
//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   color: $title-text-color;
//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: $cubik;
// }
// .pages-header__link:hover,
// .pages-header__link:focus {
//   color: $accent-color;
// }

// .pages-header__active {
//   color: $accent-color;
// }
// .pages-header__contact-menu {
//   display: flex;
//   margin-left: auto;
//   align-items: center;
// }
// .pages-header__contact-mail {
//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   display: flex;
//   align-items: center;
//   color: $primery-text-color;
//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: $cubik;
// }
// .pages-header__contact-item:not(:last-child) {
//   margin-right: 50px;
// }
// .pages-header__contact-mail:hover,
// .pages-header__contact-mail:focus {
//   color: $accent-color;
// }
// .pages-header__contact-phone {
//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   display: flex;
//   align-items: center;
//   color: $primery-text-color;
//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: $cubik;
// }
// .pages-header__contact-phone:hover,
// .pages-header__contact-phone:focus {
//   color:$accent-color;
// }
// .pages-header__icon-mail {
//   width: 16px;
//   height: 12px;
//   margin-right: 10px;
//   fill: currentColor;
// }
// .pages-header__icon-tel {
//   width: 10px;
//   height: 16px;
//   margin-right: 10px;
//   fill: currentColor;
// }
// .pages-header__item > .pages-header__active::before {
//   content: '';
//   width: 100%;
//   height: 4px;
//   position: absolute;
//   transform: translateY(30px);
//   bottom: 0;
//   background: $accent-color;
//   border-radius: 2px;
// }