.modal {
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color:$background-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal__btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .close-icon {
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 250ms;
    transition-timing-function: $cubik;
  }
  .close-icon:hover,
  .close-icon:focus {
    background-image: url(../images/icon-close-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 250ms;
    transition-timing-function: $cubik;
  }
  
  
  .modal__header {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #212121;
    margin-bottom: 12px;
  }
  
  .modal__form {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
  }
  .modal__type {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    padding-left: 42px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: $cubik;
  }
  .comment__type {
    height: 120px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 15px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: $cubik;
  }
  .comment__type::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  textarea {
    resize: none;
  }
  .modal__text {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
  }
  .comment__type:focus {
    border-color: $accent-color;
  }
  .modal__type:focus {
    border-color: $accent-color;
  }
  .modal-check {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    padding-left: 20px;
  }
  .modal__btn-type {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 0px;
    margin: 0 auto;
    padding: 10px 32px;
    margin-top: 30px;
    min-width: 200px;
    color: $background-color;
    background-color: $accent-color;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: $cubik;
  }
  .modal__btn-type:hover,
  .modal__btn-type:focus {
    background-color: $hover-focus-btn;
  }
  .modal__link {
    color: $accent-color;
  }
  
  .modal__svg {
    position: absolute;
    top: 31px;
    left: 12px;
    width: 13px;
    height: 13px;
    fill: $title-text-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $cubik;
  }
  .modal__type:focus + .modal__svg {
    fill: $accent-color;
  }
  
  .modal__check::before {
    position: absolute;
    display: block;
    border: 1px solid $title-text-color;
    border-radius: 2px;
    content: '';
    top: 450px;
    left: 50px;
    width: 16px;
    height: 15px;
    cursor: pointer;
  }
  .modal__form-check:checked + .modal__check::before {
    background-image: url(../images/icon-check.svg);
    border-color: $accent-color;
    border: none;
  }
  .modal__form-check:focus + .modal__check::before {
    outline: 2px solid $accent-color;
  }
  .modal__texterea{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
  }
  .modal__checkbox{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }