$accent-color: #2196f3;
$background-color: #ffffff;
$primery-text-color: #757575;
$title-text-color: #212121;
$hover-focus-btn: #188ce8;
$perfuse-color: #f5f4fa;
$head-logo: #000000;
$background-hero: #2f303a;
$icon-color: #afb1b8;
$portfolio-img: #eeeeee;
$cubik: cubic-bezier(0.4, 0, 0.2, 1);

